<!DOCTYPE html>
<html lang="en">

<head>
  <title>Work Out Buddies</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://www.flaticon.com/svg/vstatic/svg/10/10699.svg?token=exp=1611626692~hmac=4a8736a89510e0b5aa3aca6ed7b9055f" rel="icon" type="icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Permanent+Marker&display=swap" rel="stylesheet">
  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
  {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/login.js"></script>
  <script type="text/javascript" src="js/signup.js"></script>
  <script type="text/javascript" src="js/activate.js"></script>
  <script type="text/javascript" src="js/members.js"></script>
  <script type="text/javascript" src="js/createOrUpdate.js"></script>


<footer class="footer">
  Made with ❤️️ by Daniel Soledad, Tristan Bond, Francine Babauta, and Stanislava Medigovik  &copy; 2021 <br>
  Credits: Node.js, Bootstrap, Pexels
</footer>

</body>
</html>
