<div class="jumbotron jumbo-bg">
    <div class="container bg-transparent">
      <a href="/">
          <div class="custom-flex">
            <img class="logo" src="./assets/images/signup.png">
            <div>
              <h1 class="display-4 fw-bolder custom-title text-dark">WorkOut Buddies</h1>
              <small class="lead fw-bold text-white">Experience life style change with friends!!</small>
            </div>
          </div>
        </div>
      </a>
  </div>

  <div class="container">
    <div class="row justify-content-md-center custom-mx">
      <div class="col-md-9 col-lg-6 background">
        <h2>Login</h2>
        <form class="login signup" action="/" method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" name="password"  placeholder="Password">
          </div>
          <p>{{message}}</p>
          <button type="submit" value="submit" class="btn btn-default">Login</button>
        </form>
        <br />
        <p>Or sign up <a href="/signup">HERE</a>.</p>
        <a href="/forgot-password"><small>Forgot Password</small></a>
        <p><a href="/activate-account"><small>Activate Account</small></a></p>
      </div>
    </div>
  </div>