
{{> jumbo/jumbo-block}}
<div class="container">
    <div class="row justify-content-md-center custom-mx">
      <div class="col-md-8 col-lg-6 background">
        <h2>Reset Password</h2>
        <form id="reset-password">
            <div class="form-group">
              <label for="exampleInputName1">Validation Code</label>
              <input type="code" class="form-control" name="code" id="code-input" placeholder="Code">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" name="password" id="password-input" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputReenterPassword1">Re Enter Password</label>
              <input type="password" class="form-control" name="repassword" id="repassword-input" placeholder="repassword">
            </div>
                 
          <button type="submit" class="btn btn-primary submit" id="resetformbtn">Reset Password</button>
        </form>
        <br />
        <p>Or go back to log in <a href="/">here</a></p>
      </div>
    </div>
  </div>

  {{> modal/modal-block}}

