
{{> jumbo/jumbo-block}}
<div class="container">
    <div class="row justify-content-md-center custom-mx">
      <div class="col-md-8 col-lg-6 background">
        <h2>Registration Form</h2>
        <form id="signup">
            <div class="form-group">
              <label for="exampleInputName1">Full Name</label>
              <input type="name" class="form-control" name="name" id="name-input" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" name="email" id="email-input" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" name="password" id="password-input" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputReenterPassword1">Re Enter Password</label>
              <input type="password" class="form-control" name="repassword" id="repassword-input" placeholder="repassword">
            </div>
                 

            <div class="form-group">
            <label for="exampleInputGender1">Gender</label>
            <input type="gender" name="gender" class="form-control" id="gender-input" placeholder="Gender">
          </div>

          <div class="form-group">
            <label for="exampleInputWeight1">Weight</label>
            <input type="weight"  name="weight" class="form-control" id="weight-input" placeholder="Weight">
          </div>
          <div class="form-group">
            <label for="exampleInputAge1">Age</label>
            <input type="age" class="form-control" age="age"  id="age-input" placeholder="Age">
          </div>
          <div class="form-group">
            <label for="exampleInputHeight1">Height</label>
            <select id="feet" name="feet">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
            <select id="inches" name="inches">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
            </select>
          </div>


          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-primary submit" id="signupformbtn">Sign Up</button>
        </form>
        <br />
        <p>Or go back to log in <a href="/">here</a></p>
      </div>
    </div>
  </div>

  {{> modal/modal-block}}

