 {{> jumbo/action-block }} 

<div class="container">
    <div class="row justify-content-md-center custom-mx">
      <div class="col-md-8 col-lg-6 background">
        <h2>Update Stats</h2>
        <form id="signup">
            
          <div class="form-group">
            <label for="exampleInputWeight1">Weight</label>
            <input type="weight"  name="weight" class="form-control" id="weight-input" placeholder="{{weight}}">
          </div>
          <div class="form-group">
            <label for="exampleInputAge1">Age</label>
            <input type="age" class="form-control" age="age"  id="age-input" placeholder="{{age}}">
          </div>
          <div class="form-group">
            <label for="exampleInputHeight1">Height</label>
            <select id="feet" name="feet">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
            <select id="inches" name="inches">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
            </select>
          </div>


          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-primary submit" id="updatestatsformbtn">{{action}}</button>
        </form>
        <br />
        <p>Lets go <a href="/">Home</a></p>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="thank-you-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Email Notification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="response"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal-close-btn">Close</button>
      </div>
    </div>
  </div>
</div>