<div class="modal" tabindex="1" role="dialog" id="thank-you-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
      <div class="modal-header bg-info text-white">
        <h3 class="modal-title text-white" id="notification"></h3>
      </div>
      <div class="modal-body">
        <p class="font-weight-bold" id="response"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal-close-btn">Close</button>
      </div>
    </div>
  </div>
</div>

