<div class="jumbotron jumbo-bg">
  <a href="/">
    <div class="container bg-transparent">
      <div class="custom-flex">
        <img class="logo" src="../assets/images/signup.png">
        <div>
          <h1 class="display-4 fw-bolder custom-title">WorkOut Buddies</h1>
          <p class="lead">{{action}} Exercise Program</p>
        </div>
        
      </div>     
    </div>
  </a>
</div>