<div class="jumbotron jumbo-bg">
    <div class="container bg-transparent">
        <a href="/">
          <div class="custom-flex">
            <img class="logo" src="./assets/images/signup.png">
            <div>
              <h1 class="display-4 fw-bolder custom-titl">{{name}} WorkOuts</h1>
              <small class="lead fw-bold">{{message}}</small>
              <br>
              <span id="bmi">Your BMI: <span id="bmiNumber">{{bmi}}</span></span>
            </div>
          </div>
        </a>
    </div>
</div>