body{
    background-image: url("https://images.unsplash.com/photo-1553969546-6f7388a7e07c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    font-family: 'Permanent Marker', cursive;       
}
.jumbo-bg{
    background-color: rgba(173, 165, 165, 0.0);
    color: #333333;
    border: none;
}
.jumbo-bg a{
    color: #333333;
}
.jumbo-bg a:hover{
    text-decoration: none;
}
.custom-flex{
    display: flex;
}
.custom-title{
    align-self: end;
    justify-self: end;
    margin-bottom:0;
    color: #333333;
}
.background{
    border-radius: 10px;
    background-color: rgba(173, 165, 165, 0.5);
    color: #333333;
}
.logo{
    width: 20%;
    height: 20%;
}
.custom-mx{
    margin-left: 0;
    margin-right: 0;
}
#custom-height{
  height:350px;
  overflow-y: scroll;
}

.sm-view{
    display:none;
    font-family: 'Permanent Marker', cursive; 
 }

 .liked-workout{
     background-color: #1187d6;
     -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 0px 0px 15px 2px #1669B7; 
     box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 0px 0px 15px 2px #1669B7;
 }

 .custom-background{
    background-color:rgba(173, 165, 165, 0.8);
 }

.footer-mod{
    text-align: center;
    color: #333333;
    width: 100%;
    height: 100px;
    padding-top:15%;
}

.footer-mod a {
     color: #333333;
}

@media (min-width: 469px) {

    .logo{
        width: 10%;
        height: 20%;
    }
    .custom-title{
        margin-top: 4.5%;
    }

  }
  @media only screen and (max-width: 761px) {
    .custom-padding {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media (min-width: 600px) {

    body {
        background-image: url("https://images.pexels.com/photos/5928260/pexels-photo-5928260.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    }
    .custom-background{
        background-color:rgba(173, 165, 165, 0.5);
     }
    .sm-view{
        display:inline-block;
     }
  }
@media (min-width: 764px) {

  #custom-height{
    height:300px;
  }
    .custom-title{
        margin-top: 4%;
    }
  }
  /* @media (min-width: 1200px) {
    .custom-title{
        margin-top: 12%;
    }
  }

  /* FOOTER */

